<!Doctype html>
<html>
<head>
  <title> About Us </title>
  <link href="/static/themes/aboutus.css" rel="stylesheet"/>
</head>
<body  class="news">
<div class="header"> <h1><img src="/static/images/bone.png" width="100px">SNIFF
  <img src="/static/images/paw.png" width="100px">
  <br/>
  <span class='sub'>"Finding a best friend for <u>human's</u>best friend!" </span>
</h1> </div>
<header>
  <div class="nav">

  <ul>
    <li class="home"><a href="/home">Home</a></li>
    <li class="playdate"><a href="/playdate">Playdate</a></li>
    <li class="dog"><a href="/dogparks">Dog Parks</a></li>
    <li class="aboutus"><a class="active" href="/aboutus">About</a></li>
  </ul>
</div>
</header>


<div class="cards">
<h2> Efrain Escamilla </h2>
   <img  id= "images" src="/static/images/efrain.JPG"> <br/>
   <h3>
  <a href="mailto:eescamilla@gmail.com"> Email Me </a>
      <br/>
     Attending New York University
     <br>
     Majoring in Computer Engineering

   </h3>
 </div>




 <div class="cards">
 <h2> Lina Montes </h2>
    <img id= "images" src="/static/images/lina.JPG"> <br/>
    <h3 >
   <a href="mailto:linamontes@gmail.com"> Email Me </a>
       <br/>
      Attending Yale University
      <br>
      Majoring in Computer Science

    </h3>
  </div>


  <div class="cards">
  <h2> Monique Wade </h2>
     <img id= "images" src="/static/images/mo.jpg"> <br/>
     <h3 >
    <a href="mailto:moniquerwade@gmail.com"> Email Me </a>
        <br/>
       Attending University at Albany
       <br>
       Majoring in Computer Science

     </h3>
   </div>





</body>
</html>
