<!Doctype html>
<html>
<head>
  <title> About Us </title>
  <link href="/static/themes/aboutus.css" rel="stylesheet"/>
</head>
<body>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/playdate">Playdate</a></li>
    <li><a href="/dogparks">Dog Parks</a></li>
    <li><a class="active" href="/aboutus">About</a></li>
  </ul>
<table>
  <tr>
    <td><img src="/static/images/bone.png" width="150px"> </td>
    <th id="sniff"> SNIFF</th>
    <td> <img src="/static/images/paw.png" width ="150px" > </td>
</tr>



  <table width="100%">

      <tr>
   <th colspan="3" > <u>OUR FOUNDERS </u></th>
    </tr>

    <tr>
      <td> <img src="/static/images/efrain.jpg" width="300 px"></td>
      <td>Efrain Escamilla- <a href="mailto:eescamilla@sniffer.org"> Email Me </a></td>
        <td> <p> Attending New York University
          <br> Majoring in Computer Engineering
           </p></td>
      </tr>

      <tr>
   <td><img src="/static/images/lina.jpg" width="300 px"> </td>
   <td> Lina Montes- <a href="mailto:lmontes@sniffer.org"> Email Me </a> </td>
   <td><p >Attending Yale University
     <br> Majoring in Computer Science
  </p> </td>
   </tr>
<br/>
   <tr>
   <td><img src="/static/images/mo.jpg" width="300 px"> </td>
    <td> Monique Wade - <a href="mailto:mwade@sniffer.org"> Email Me </a> </td>
     <td> <p>Attended University at Albany
       <br> Majoring in Computer Science
      </p></td>
   </tr>

</table>

  <!-- <section>
<h2> The Founders </h2>

<p>Efrian Escamilla </p> <img src />
<br/>
<p>Lina Montes</p>  <img src />
<br/>
<p>Monique Wade</p> <img src />
<br/>

</section>
 -->


</body>
</html>
