<!Doctype html>
<html>
<head>
  <title> Dog Parks </title>
  <link href="/static/themes/homepage.css" rel="stylesheet">
</head>
<body>
  <div class="topnav">
    <a href="/homepage">Home</a>
    <a href="/playdate">Playdate</a>
    <a class="active" href="/dogparks">Dog Parks</a>
    <a href="/aboutus">About Us</a>
  </div>
  <h1>DOG PARKS</h1>

  <div id="googleMap" style="width:100%;height:400px;"></div>

  <script src="/static/scripts/sniff.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk7TPoxg9J3yuKs_LuxAK9AKCg3dqHBrM&callback=myMap"></script>

</body>
</html>
