<!Doctype html>
<html>
<head>
  <title> Dog Parks </title>
  <link href="/static/themes/dogparks.css" rel="stylesheet">
</head>
<body class = "news">
  <div class="header"> <h1><img src="/static/images/bone.png" width="100px">SNIFF
    <img src="/static/images/paw.png" width="100px">
    <br/>
    <span class='sub'>"Finding a best friend for <u>human's</u> best friend!" </span>
  </h1> </div>
  <header>
    <div class="nav">

    <ul>
      <li class="home"><a href="/home">Home</a></li>
      <li class="playdate"><a href="/playdate">Playdate</a></li>
      <li class="dog"><a class="active" href="/dogparks">Dog Parks</a></li>
      <li class="aboutus"><a href="/aboutus">About</a></li>
    </ul>
  </div>
  </header>
  <input id="pac-input" class="controls" type="text" placeholder='Type in "Dog Parks"'>
  <div class="center-div">
  <div id="map"></div></div>

  <script src="/static/scripts/dogparks.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnW_FyhuYYE4gpmYiUCILrfmSBRjlkWzQ&libraries=places&callback=initAutocomplete"
       async defer></script>
</body>
</html>
