<!Doctype html>
<html>
<head>
  <title> Dog Parks </title>
  <link href="/static/themes/dogparks.css" rel="stylesheet">
</head>
<body class = "news">
    <h1>SNIFF<br/><sub>finding a best friend for human's best friend!</sub></h1>
  <header>
    <div class="nav">

    <ul>
      <li class="home"><a href="/home">Home</a></li>
      <li class="playdate"><a href="/playdate">Playdate</a></li>
      <li class="dog"><a href="/dogparks">Dog Parks</a></li>
      <li class="aboutus"><a class="active" href="/aboutus">About</a></li>
    </ul>
  </div>
  </header>


  <h1>DOG PARKS</h1>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div class="center-div">
  <div id="map"></div></div>

  <script src="/static/scripts/dogparks.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnW_FyhuYYE4gpmYiUCILrfmSBRjlkWzQ&libraries=places&callback=initAutocomplete"
       async defer></script>
</body>
</html>
