<!Doctype html>
<html>
<head>
  <title> Homepage </title>
  <link href="/static/themes/homepage.css" rel="stylesheet">
</head>
<body>
  <h1>SNIFF<br/><sub>finding a best friend for man's best friend!</sub></h1>

  <ul>
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/playdate">Playdate</a></li>
    <li><a href="/dogparks">Dog Parks</a></li>
    <li><a href="/aboutus">About</a></li>
  </ul>
<h4> Links </h4>
  <dl>

  <dt><u>Grooming</u></dt>
  <dd><a href="https://dpethotels.com/">Pet Hotels</a></dd>
  <dt><u>Training</u></dt>
  <dd><a href="https://www.wagthedognyc.com/">Wag the Dog NYC</a></dd>
</dl>

<p> "WOOF WOOF!!!!!"- Austin </p>

</body>
</html>
