<!Doctype html>
<html>
<head>
  <title> Homepage </title>
  <link href="/static/themes/homepage.css" rel="stylesheet">
</head>
<body>
  <h1>SNIFF<br/><sub>finding a best friend for man's best friend!</sub></h1>

  <ul>
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/playdate">Playdate</a></li>
    <li><a href="/dogparks">Dog Parks</a></li>
    <li><a href="/aboutus">About</a></li>
  </ul>

<table>
  <th> LINKS </th>
  <tr> <td>GROOMING </td> <td> TRAINING</td>  </tr>
<tr>
  <td><a href="https://dpethotels.com/">Pet Hotels</a></td>

  <td><a href="https://www.wagthedognyc.com/">Wag the Dog NYC</a></td>
</tr>
<table>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


<p> "WOOF WOOF!!!!!"- Austin </p>

</body>
</html>
