<!Doctype html>
<html>
<head>
  <title> Homepage </title>
  <link href="/static/themes/homepage.css" rel="stylesheet">
</head>
<body>

  <h1>WELCOME TO SNIFF</h1>



  <div class="parent">
  <div class="box">  <a class="active" href="homepage.html"><h3>Home</h3> </a></div>
  <div class="box">  <a class="navlinks"href="playdate.html"><h3>Playdate</h3> </a></div>
  <div class="box">  <a class="navlinks"href="dogparks.html"><h3>Dog Parks</h3>  </a></div>
  <div class="box">  <a class="navlinks"href="aboutus.html"><h3>About Us<h3> </a></div>
  </div>



</body>
</html>
