<!Doctype html>
<html>
<head>
  <title> Your a Match! </title>
  <link href="/static/themes/newplaydate.css" rel="stylesheet">
</head>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a class="active" href="/playdate">Playdate</a></li>
    <li><a href="/dogparks">Dog Parks</a></li>
    <li><a href="/aboutus">About</a></li>
  </ul>

  <h1>Your Sniffers at {{zipcode}} are waiting!!:</h1>

  <div class="dogprofiles">
    <h2> Austin </h2>
    <img src="/static/images/Austin.jpg">
    <h3 class="doginfo">
      Owner Name: Lina Montes <br/>
      Breed: Mix between a German Shepherd and Golden Retriever
      <br>
      Age: 3 Years Old
      <br>
      Personality: Very shy

    </h3>
  </div>

  <div class="dogprofiles">
    <h2> Austin </h2>
    <img src="/static/images/peri.jpeg">
    <h3 class="doginfo">
      Owner Name: Harry Potter <br/>
      Breed: Poodle/ Cavalier King Charles Spaniel
      <br>
      Age: 5 Years Old
      <br>
      Size: Medium
      Personality: Very shy

    </h3>
  </div>
  <div class="dogprofiles">
    <h2> Austin </h2>
    <img src="/static/images/chow.jpeg">
    <h3 class="doginfo">
      Owner Name: Monique Wade <br/>
      Breed: Purebred Chow Chow
      <br>
      Age: 2 Years Old
      <br>
      Size: Medium
      <br/>
      Personality: Very sh

    </h3>
  </div>
  <div class="dogprofiles">
    <h2> Austin </h2>
    <img src="/static/images/collie.jpeg">
    <h3 class="doginfo">
      Owner Name: Efrain Escamilla
      Breed: Collie Retriever
      <br>
      Age:  Years Old
      <br>
      Personality: Very shy

    </h3>
</body>
</html>
