<!Doctype html>
<html>
<head>
  <title> Your Pawfect Match </title>
  <link href="/static/themes/newplaydate.css" rel="stylesheet">
</head>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a class="active" href="/playdate">Playdate</a></li>
    <li><a href="/dogparks">Dog Parks</a></li>
    <li><a href="/aboutus">About</a></li>
  </ul>

  {% if dogsfound %}
    <h1>  Your Sniffers at {{zipcode}} are waiting:</h1>
  {% else %}
    <h1>  There are no sniffers at {{zipcode}} waiting, but here are all the sniffers:</h1>
    <div class="search">
      <form method="post">
        <p id="addquestion"> Want to upload your dog to your zipcode instead? Fill out the form below: </p>
        <p>
            What is your dog's name?
          <input type="text" name="name" placeholder="ex. Princess Cookie">
          <br>
            What is your name?
          <input type="text" cols="50" name="ownername" placeholder="ex. Jane Doe">
          <br>
            What breed is your dog?
          <input type="text" name="breed" placeholder="ex. German Shepherd">
          <br>
            How old is your dog?
          <input type="text" name="age" placeholder="ex. 4">
          <br>
            What size is your dog?
          <select name="size">
            <option value="volvo">Small (under 20 pounds)</option>
            <option value="saab">Medium (25-50 pounds)</option>
            <option value="fiat">Large (50-70 pounds)</option>
            <option value="audi">Extra Large (70+ pounds )</option>
          </select>
          <br>
            How would you describe your dog's personality?
          <input type="text" name="personality" placeholder="ex. playful">
          <br>
            What is your email, for playdate scheduling purposes?
          <input type="text" name="email" placeholder="example@gmail.com">
          <br>
            Lastly, what is your zipcode?
          <input type="text" name="zipcode" pattern="[0-9]{5}" title="Five digit zip code" placeholder="ex. 11111"/>
          <br>
          <button type="submit"> Submit </button>
        </p>
      </form>
    </div>
  {% endif %}
  {% for dog in dogs%}
    <div class="dogprofiles">
      <h2>  {{dog.name}} </h2>
       <img src="/image?id={{dog.key.urlsafe()}}"> <br/>
       <h3 class="doginfo">
         Owner Name: {{dog.ownername}}
          <br/>
         Breed: {{dog.breed}}
         <br>
         Age: {{dog.age}}
         <br>
         Size: {{dog.size}}
         <br/>
         Personality: {{dog.personality}}
         <br/>
         <a href="mailto:{{dog.email}}">Email Us</a>
         <br>
         Zip code: {{dog.zipcode}}
       </h3>
     </div>
    {% endfor %}




 <!-- <div class="dogprofiles">
   <h2>  Austin </h2>
    <img src="/static/images/Austin.jpg"> <br/>
    <h3 class="doginfo">
      Owner Name: Lina Montes
       <br/>
      Breed: Mix between a German Shepherd and Golden Retriever
      <br>
      Age: 3 Years Old
      <br>
      Size: Large
      <br/>
      Personality: Very shy and one-on-one; <br/>
      loves to run and tummy rubs!
      <br/>
      <a href="mailto:austinandlina@gmail.com">Email Us</a>
    </h3>
  </div>

<div class="dogprofiles">
    <h2> Headwig the Second </h2>
    <img src="/static/images/peri.jpeg"> <br/>
    <h3 class="doginfo">
      Owner Name: Harry Potter
      <br/>
      Breed: Poodle/ Cavalier King Charles Spaniel
      <br>
      Age: 5 Years Old
      <br>
      Size: Medium
      <br/>
      Personality: Active pupper who loves to make new friends;<br/>
      barks at everything!
      <br/>
      <a href="mailto:hedwigandharry@gmail.com">Email Us</a>

    </h3>
  </div>

  <div class="dogprofiles">
    <h2> Bok Choy </h2>
    <img src="/static/images/chow.jpeg"> <br/>
    <h3 class="doginfo">
      Owner Name: Monique Wade
       <br/>
      Breed: Purebred Chow Chow
      <br>
      Age: 2 Years Old
      <br>
      Size: Medium
      <br/>
      Personality: Spoiled and a little rough around the edges <br/>
      however once comfortable will be your best friend!
       <br/>
      <a href="mailto:bokandmo@gmail.com">Email Us</a>

    </h3>
  </div>

  <div class="dogprofiles">
    <h2> Cookie </h2>
    <img src="/static/images/collie.jpeg">
    <h3 class="doginfo">

      Owner Name: Efrain Escamilla
      <br/>
      Breed: Collie Retriever
      <br>
      Age: 4 Years Old
      <br>
      Size: Large
      <br/>
      Personality: A little crazy and jumpy when meeting new people <br/>
      but only because she is so excited to name new friends!
      <br/>
      <a href="mailto:cookieandefrain@gmail.com">Email Us</a>

    </h3>
  </div> -->
</td>
</tr>
</table>
</body>
</html>
