<!DOCTYPE html>
<html>
<body>
<style>
  li {
    display: inline;
  }
  li a {
    text-align: center;
    background-color: #FF0000 ;
    padding: 10px;
  }
  li a:hover {
      background-color: #343d46;
      color: white;
  }
  ul {
      list-style-type: none;

      margin: 0;
      padding: 0;
  }
</style>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/playdate">Playdate</a></li>
  <li><a href="/dogparks">Dog Parks</a></li>
  <li><a href="/aboutus">About</a></li>
</ul>
</body>
</html>
