<!DOCTYPE html>
<html>
<body>
<head>
  <title> Playdate Finder </title>
  <link href="/static/themes/playdate.css" rel="stylesheet" />
</head>
  <ul id='navbar'>
    <li><a href="/home">Home</a></li>
    <li><a class="active" href="/playdate">Playdate</a></li>
    <li><a href="/dogparks">Dog Parks</a></li>
    <li><a href="/aboutus">About</a></li>
  </ul>
  <h1> Find Your Match </h1>
    <div> Find Sniffers Near You! </div>
    <form method="post">
      Zip Code:
      <input type="text" name="zipcode">
      <br>
      <button type="submit"> Submit </button>
      <div id="googleMap" style="width:100%;height:400px;"></div>
      <script>
      function myMap() {
        var mapProp= {
          center:new google.maps.LatLng(51.508742,-0.120850),
          zoom:5,
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUVENwjhZSt6MCkATJ_e3GFHhhy68dqKQ&callback=myMap"></script>
  </form>
</body>
</html>
