<!DOCTYPE html>
<html>
<body>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Playdate Finder </title>
  <link href="/static/themes/playdate.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
</head>
<body class ="news">
<div class="header"> <h1><img src="/static/images/bone.png" width="100px">SNIFF
  <img src="/static/images/paw.png" width="100px">
  <br/>
  <span class='sub'>"Finding a best friend for <u>human's</u> best friend!" </span>
</h1> </div>

<header>
  <div class="nav">

  <ul>
    <li class="home"><a href="/home">Home</a></li>
    <li class="playdate"><a class="active" href="/playdate">Playdates</a></li>
    <li class="dog"><a href="/dogparks">Dog Parks</a></li>
    <li class="aboutus"><a href="/aboutus">About</a></li>
  </ul>
</div>
</header>

  <h1> Find Your Match </h1>

  <div class="searchflex">
    <div class="search"> Find Sniffers Near You!
      <form method="post" enctype="multipart/form-data">
        <p>
            What is your dog's name?
          <input type="text" name="name" placeholder="ex. Princess Cookie">
          <br>
            What is your name?
          <input type="text" cols="50" name="ownername" placeholder="ex. Jane Doe">
          <br>
            What breed is your dog?
          <input type="text" name="breed" placeholder="ex. German Shepherd">
          <br>
            How old is your dog?
          <input type="text" name="age" placeholder="ex. 4">
          <br>
            What size is your dog?
          <select name="size">
            <option value="small">Small (under 20 pounds)</option>
            <option value="medium">Medium (25-50 pounds)</option>
            <option value="large">Large (50-70 pounds)</option>
            <option value="extra large">Extra Large (70+ pounds )</option>
          </select>
          <br>
            How would you describe your dog's personality?
          <input type="text" name="personality" placeholder="ex. playful">
          <br>
            What is your email, for playdate scheduling purposes?
          <input type="text" name="email" placeholder="example@gmail.com">
          <br>
            Lastly, what is your zipcode?
          <input type="text" name="zipcode" pattern="[0-9]{5}" title="Five digit zip code" placeholder="ex. 11111"/>
          <br>
          Upload a picture of your dog (no more than 2MB):
          <input type="file" name="image" accept="image/x-png,image/gif,image/jpeg, image/jpg" />
          <br>
          <button type="submit"> Submit </button>
        </p>
      </form>
    </div>

    <form method="post">
      <div class="search"> Search your zipcode
        <input type="text" name="zipcode" pattern="[0-9]{5}" title="Five digit zip code" placeholder="ex. 11111"/>
        <br>
        <button type="submit"> Submit </button>
      </div>
    </form>
  </div>
</body>
</html>
