h1 {
  font-family: Arial;
  text-align: center;
}
.sub {
  color:;
  font-family:Arial;
  text-align: center;
  font-size: 17px;
}
body {
  background-image: url(/static/images/background.jpg);
  width:100%;
}

.header{
   /* margin: auto; */
   width: 100%;
   /* height:25%; */
   /* border: 3px solid black; */
   /* padding: 10px; */
   background-color: #2A789A;


}

#sniff {
  color: salmon;
  font-family:Arial;
  text-align: center;
  width: 100%;
}
#images {
  height:250px;
  width:215px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cards{
  background-color: #2A789A;
    margin: 50px ;
    width:350px;
   max-width:350px;
    display: inline-block;

}

.flex {
  display : flex;
  justify-content : space-evenly;
  flex-wrap : wrap-reverse;
}

h2 {

  font-family: Arial;
  text-align: center;

}
h3 {

  font-family: Arial;
  text-align: center;

}
#images {
  height:250px;
  width:215px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: white;
}
/* --------------------------------------------------------------------------- */
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}
