h1 {
  color: white;
  font-family: Arial;
  text-align: center;
}
body {
  background-color: #52DBFF;
}
li {
  float: left;
  border-right: 1px solid #bbb;
  overflow: hidden;
}
li:last-child {
  border-right: none;
}
li a {
  text-align: center;
  padding: 100px 154px;
  text-decoration: none;
  color: white;
}
li a:hover {
  background-color: #343d46;
  color: white;
}
.active {
  background-color: #4CAF50;
}
ul {
  position: fixed;
  background-color: #FF0000;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  height:25%;
  width:25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dogprofiles {
  margin: 50px;
  background-color: #52DBFF;
}

h2 {
  color: white;
  font-family: Arial;
  text-align: center;
  color: salmon;
}

h3 {
  color: white;
  font-family: Arial;
  text-align: center;
  color: salmon;
}

.doginfo {
  margin: auto;
  background-color: #52DBFF;
  padding:10px;
  color: salmon;
}
