h1 {
  font-family: Arial;
  text-align: center;
}
.sub {
  color:;
  font-family:Arial;
  text-align: center;
  font-size: 17px;
}
body {
  background-image: url(/static/images/background.jpg);
}

.header{
  margin: auto;
   width: 35%;
   height:25%;
   /* border: 3px solid black; */
   padding: 10px;
   background-color: #2A789A;

}

img {
  height:250px;
  width:215px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dogprofiles {
  margin: 50px;
  background-color: white;
  display: inline-block;
}

h2 {
  color: white;
  font-family: Arial;
  text-align: center;
  color: salmon;
}

h3 {
  color: white;
  font-family: Arial;
  text-align: center;
  color: salmon;
}

.doginfo {
  margin: auto;
  background-color: #52DBFF;
  padding:10px;
  color: salmon;
}

.search {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #444;
  margin-left: 100px;
  margin-right: 100px;
<<<<<<< HEAD
  color: #2A789A;
=======
  color:;
>>>>>>> 70c2cddcc31f2fb20d7467a4e282a983eac715aa
  font-family: "Trebuchet MS";
}

input {
  color:;
  font-family: "Trebuchet MS";
}

button {
  color: ;
  font-family: "Trebuchet MS";
}

select{
  color: ;
  font-family: "Trebuchet MS";
}

#addquestion {
  font-size: 30px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}
